//---------------------------------------------------------------------
// blob-select
//---------------------------------------------------------------------
// https://blobfolio.com
//
// default styles



//in this example CSS, we defer to the browser's
//rendering of the dropdown menu itself on small
//devices.  at 768+, we have enough space to
//use our fake menu.
$screen-tablet:	48em; //768px

//some colors
$color-blue: #3498db;
$color-blue-dark: #2980b9;
$color-purple: #8e44ad;
$color-red: #c0392b;
$color-white: #fff;
$color-grey: #bdc3c7;
$color-black: #2c3e50;

//animations
$transition-speed: .3s;



//the main blobselect container
.blobselect {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	cursor: pointer;
	outline: none;
	color: $color-black;
	background-color: $color-white;
	transition: background $transition-speed, color $transition-speed, border $transition-speed;

	width: 100%;
	max-width: 300px;
	border: 1px solid $color-grey;
	padding: 10px;
	box-sizing: border-box;

	//force everything in here to use border-box
	* { box-sizing: border-box; }

	//a neat trick, for small screens we can preserve
	//the browser's dropdown functionality, which is
	//probably better than what we could do with CSS
	select {
		position: absolute;
		top: 0;
		left: -5px;
		right: -5px;
		bottom: -5px;
		width: calc(100% + 10px);
		height: calc(100% + 5px);
		z-index: 1000;
		opacity: 0;

		//for big screens, we don't really need this
		//any more
		@media(min-width: $screen-tablet){ display: none; }
	}

	&:focus,
	&:active,
	&:hover { border-color: $color-black; }

	&.is-open {
		z-index: 1;
		border-color: $color-blue-dark;
	}

	//disabled styles
	&.is-disabled {
		color: $color-grey!important;
		border-color: $color-grey!important;
		cursor: auto;
	}
}//.blobselect



//our selections
.blobselect-selections {
	width: calc(100% - 35px);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	word-wrap: break-word;
}

.blobselect-selection {
	padding: 5px 0;

	&.is-placeholder {
		color: $color-grey;
		font-style: italic;
	}

	.is-multiple & {
		&:after {
			content: '\00D7';
			color: $color-red;
			margin-left: .25em;
			opacity: 0;
			transition: opacity $transition-speed;
		}
		&:hover {
			&:after { opacity: 1; }
		}
	}
}



//our submit button
.blobselect-button {
	width: 35px;
	height: 30px;
	cursor: pointer;
	transition: all $transition-speed;
	position: relative;

	&:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 7.5px 0 7.5px;
		border-color: $color-grey transparent transparent transparent;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -5px;
		margin-left: -7.5px;
		transition: border $transition-speed;
	}

	.blobselect:active &:after,
	.blobselect:focus &:after,
	.blobselect:hover &:after {
		border-color: $color-black transparent transparent transparent;
	}

	.blobselect.is-open & {
		transform: rotate(180deg);
		&:after { border-color: $color-blue-dark transparent transparent transparent; }
	}

	.is-disabled &:after { border-color: $color-grey transparent transparent transparent !important; }
}



//our dropdown
.blobselect-items {
	position: absolute;
	top: 100%;
	left: -1px;
	right: -1px;
	width: calc(100% + 2px);
	color: $color-black;
	background-color: $color-white;
	transition: background $transition-speed, color $transition-speed, transform $transition-speed;
	border: 1px solid $color-grey;
	border-top: 0;
	padding-bottom: 10px;
	transform: scale(1, 0);
	transform-origin: top center;
	display: none;

	//we are only using our pseudo-dropdown on big screens
	@media(min-width: $screen-tablet){
		.is-opening & { display: block; }
		.is-open & {
			display: block;
			z-index: 1000;
			border-color: $color-blue-dark;
			transform: scale(1, 1);
		}
	}
}

//the search field
.blobselect-item-search {
	border-top: 1px dashed $color-blue-dark;
	border-bottom: 1px dashed $color-blue-dark;
	padding: 0 10px 0 35px;
	height: 35px;
	line-height: 35px;
	font-size: .8rem;
	outline: none;
	opacity: .75;
	transition: opacity $transition-speed;
	margin-bottom: 5px;
	background: transparent url(../img/search.svg) scroll 10px 10px no-repeat;
	background-size: 15px 15px;

	&:active,
	&:focus,
	&:hover {
		opacity: 1;
	}
}

//an optgroup label
.blobselect-item-group {
	&:first-child {
		border-top: 1px dashed $color-blue-dark;
	}

	font-size: .8rem;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px;
	outline: none;

	&.is-disabled { opacity: .5; }
}

//dropdown items
.blobselect-item {
	&:first-child {
		border-top: 1px dashed $color-blue-dark;
	}

	font-size: .8rem;
	text-transform: uppercase;
	padding: 10px;
	outline: none;
	transition: background $transition-speed, color $transition-speed;

	&.has-group { padding-left: 30px; }

	&.is-disabled { opacity: .5; }

	&.is-not-match { display: none; }

	&.is-placeholder { font-style: italic; }

	mark {
		border-bottom: 2px solid $color-purple;
		background: transparent;
		color: inherit;
	}

	&:hover,
	&.is-focused {
		background-color: $color-blue;
		color: $color-white;
	}

	&.is-active {
		background-color: $color-blue-dark;
		color: $color-white;
	}
}
